/*----------------------------------------------------------------------------
	main.css

	this css-file contains all definitions, that are independend from the
	colorschemes.

	(c) Schlund + Partner AG


	----------------------------------------------------------------------
	Modified and extended by Barti Bartman for the Sports-Template

	This CSS-File uses the original "Tanteks Box Modell Hack"
	http://www.tantek.com/CSS/Examples/boxmodelhack.html

	NOTE:
	Older W3C CSS validators return errors when the voice-family property
	is used in a 'screen' style sheet. This is an error in the W3C CSS
	validator itself. The validator should report a warning, not an error,
	when properties which are unsupported by a particular medium are used,
	and this has been reported to the W3C:

 ----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
 styles for specific classes and ids
----------------------------------------------------------------------------*/


/*-- global container ------------------------------------------------------*/

#container {
	position: relative;
	padding: 0;
	margin: 0 auto;
	text-align: left;
	width: 751px;
}

/*-- main container: contains all between header and footer ----------------*/

#main_container {
  clear: both;
	padding: 0;
	margin: 0;
	position: relative;
}

/*--- the main container is devided in sub containers ----------------------*/

#sub_container2 {
	width: 635px;
	margin-left: 60px;
}

#content_container {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width:630px;
}

/*--- header ---------------------------------------------------------------*/

#header	{
	position: absolute;
	padding: 0;
	margin: 0;
	height: 391px;
	width: 751px;
}

/*--- key visual -----------------------------------------------------------*/

#key_visual {
	position: absolute;
	top: 15px;
	left: 8px;
	width: 735px;
	height: 335px;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
	width: 276px;
	height: 38px;
	position: absolute;
	top: 216px;
	left: 0px;
}

/*--- caption (as text or background image) --------------------------------*/

#slogan {
	position: relative;
	margin: 0 0 15px 60px;
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
	position: relative;
	margin: 0 0 0 7px;
	width: 450px;
}

#main_nav_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#main_nav_list li {
	float: left;
	margin: 0;
	padding: 0;
}

/*--- main navigation items ------------------------------------------------*/

a.navimain_current { 
	margin: 0;
  padding: 0;
  display: block;
	float:left;
	height: 27px;
  width: 150px;
}

a.navimain_link {
	margin: 0;
  padding: 0;
  display: block;
	float:left;
	height: 27px;
  width: 150px;
}

/*--- subnavigation --------------------------------------------------------*/

.sub_nav_container {
	position: relative;
	top: -2px;
	clear: both;
	padding: 0;
	margin: 0;
	width: 345px;
}

.sub_nav_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sub_nav_list li {
	float: left;
	margin: 0;
	padding: 0;
}

/*--- subnavigation items --------------------------------------------------*/

a.navisub_current {
	margin: 0;
	padding: 0px 0px;
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 21px;
	width: 114px;
	display: block;
	float:left;
	text-align:center;
}

a.navisub_link {
	margin: 0;
	padding: 0px 0px;
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 21px;
	width: 114px;
	display: block;
	float:left;
	text-align:center;
}

/*--- content --------------------------------------------------------------*/

.content table {
	border-width: 4px;
}

.content th {
	padding: 3px 2px 3px 10px;
	font-weight:normal;
}

.content td {
	padding: 3px 2px 3px 10px;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
	margin: 0;
	padding: 0;
	width: 775px;
}

#footer_text {
	padding: 10px 0 10px 0;
	margin: 0 30px 0 30px;
	text-align: center;
}



/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
	margin: 0;
	padding: 0;
	text-align: center;
}

/*--- paragraph ------------------------------------------------------------*/

.content p {
	margin: 5px 0 20px 0;
	padding: 0;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
	padding: 15px;
	border-style: solid;
	border-width: 1px;
}

.content input {
	border-style: solid;
	border-width: 1px;
}

.content textarea {
	border-style: solid;
	border-width: 1px;
}

/*--------------------------------------------------------------------------*/

.hidden { display: none; }

/*--------------------------------------------------------------------------*/
